//Importando CSS do compass
@import "compass/css3";
@import "compass/utilities";

/* Exemplo de Mixin
@mixin borda-arredondada($raio: 0.3em) {
  border-radius: $raio;
  -webkit-border-radius: $raio;
}*/

//Usando placeholder
%image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

//Criando funcao para multiplicar
@function calculaMultiplicacao ($multiplicador) {
  @return $multiplicador * $tamanho-fonte-padrao;
}

//Criando funcao para dividir
@function calculaDivisao ($divisor) {
  @return round($divisor * $tamanho-fonte-padrao);
}