//Importando CSS do compass
@import "compass/css3";

//Mixins, padroes de border
@mixin borda-arredondada($raio: 0.3em) {
  border-radius: $raio;
  -webkit-border-radius: $raio;
}

//Usando placeholder
%image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}