//Mixins, padroes de border
@mixin borda-arredondada($raio: 0.3em) {
  border-radius: $raio;
  -webkit-border-radius: $raio;
}

%image-replacement {
  text-indent: -9999px;
  overflow: hidden;
  background-repeat: no-repeat;
}

//Usando placeholder para isolar mesmo codigo em varios elementos
%sombra-padrao {
  box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
  -webkit-box-shadow: 0 2px 6.65px 0.35px rgba(0, 0, 0, 0.3);
}