//Variaveis - comentário que reflita somente no SASS
//Podemos usar funcoes como darken ou lighter para mudar a tonalidade da cor
$branco: #FFFFFF;
$cor-padrao: darken(#C24E4B, 30);
$cor-auxiliar: lighten(#1E2C35, 50);

//Ponto de quebra para media queries
$ponto-quebra: 980px;